.section{
    width: 400px;
    height: 400px;
    background-color: rgb(103, 180, 252, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 110px;
    float: left;
    color: rgb(56, 33, 33);

}
.box{
    width: 65%;
    height: 75%;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 1.5%;
    border-radius: 10px;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .hover{
    width: 0%;
    height: 50%;
    background-color: rgb(103, 180, 252, 0.7);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .7s all;
}
.hover h3{
    color: white;
    text-shadow : 1px 1px 1px rgb(110, 20, 20);
    font-size : 2.5em;
    text-transform: uppercase;
}
.box:hover .hover{
    width: 100%;
    height: 50%;
}
img{
    max-width: 100%;
}
.container-all{
    position: relative;
    max-width: 300px;
    width: 200%;
    border-radius: 6px;
    overflow: hidden;
    float: left;
    margin: auto;
    top: 30px;
    left: 350px;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}
.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}
@keyframes autoplay{
    50%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    50%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
}
 #cabecera{
     width: 100%;
     height: 200px;
     background-color: #FFD800;
 }
 #img{
     position: relative;
     top: -70px;
     right: -150px;
     width: 400px;
     margin: auto;
 }
 #buscar{
     position: relative;
     float: right;
 }
 #perfil{
     position: absolute;
     width: 50px;
     right: 70px;
     top: 50px;
     border-left: 1px solid black;
     border-right: 1px solid black;
 }
 #perfilimg{
     border-radius: 50px 50px 50px 50px;
     width: 30px;
 }
 .nav{

     position: absolute;
     left: 470px;
     top: 60px;
     width: 800px;
 }
 .nav>li>a{
     width: 500px;
 }
 ul{
     list-style: none;
 }
 .nav li {
     float: left;
 }
 .nav a{
     text-decoration: none;
     display: block;
     background-color: #0c0e7c;
     color: white;
     padding: 10px 12px;

 }
 .nav a:hover{
     background-color: #24aaad;
 }
 .nav li ul{
     display: none;
     position: absolute;
     min-width: 140px;
 }
 .nav li:hover > ul{
     display: block;
 }

