*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: fuenteT;
    src: url("fonts/Sail-Regular.ttf");
}
@font-face{
    font-family: fuenteM;
    src: url("fonts/PTSerif-Bold.ttf");
}
#cabecera{
    background-color: #FFD800;
    height: 120px;
    border-bottom: dotted 2px #0c0e7c;
}
#img{
    position: relative;
    float: left;
    left: 30px;
}
#titulo{
    text-align: center;
    font-size: 60px;
    position: absolute;
    top: 20px;
    left: 150px;
    font-family: fuenteT;
}
.nav{
    position: absolute;
    left: 550px;
    top: 50px;
    width: 900px;
}
.nav>li>a{
    width: 550px;
    display: flex;
    justify-content: space-around;
}
ul{
    list-style: none;
}
.nav li {
    float: left;
    justify-content: space-around;
}
.nav a{
    text-decoration: none;
    display: block;
    background-color: #0c0e7c;
    color: white;
    padding: 10px 12px;
}
.nav a:hover{
    background-color: #24aaad;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.moda{
    width: 170px;
}
.search-form {
    margin-top: 55px;
    float: right;
    margin-right: 50px;
    position: relative;
  }
.search-form input[type=text] {
        padding: 7px;
        border: none;
        font-size: 16px;
        font-family: sans-serif;
        border-radius: 5px 0 0px 5px;
}
.search-form button {
    width: 120px;
    float: right;
    background: #0c0e7c;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: relative;
    padding: 7px;
    font-family: sans-serif;
    border: none;
    font-size: 16px;
  }
#shop{
    float:right;
    margin-right: -100px;
    margin-top: 15px;
    position: relative;
}
#perfil{
    float:right;
    margin-right: 150px;
    margin-top: 15px;
    position: relative;
}
#is{
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    position: relative;
}



#contenedor{
    margin-top: 100px;
    margin-left: 400px;
     width: 1000px;
     height:530px;
     
 }
 #chalecos{
     width: 450px;
     height: 550px;
     float: left;
     position: relative;
     border-radius: 6px;
     overflow: hidden;
     
 }
 .slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-duration: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.i-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width:100%
}
.pag{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white 2px;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}
.pagina :hover{
    transform: scale(2);
}
.pagina img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}
.pagina :hover{
    opacity: 1;
    transform: scale(1);
}
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0,0,0);
}
input[id="1"]:checked ~ .pag .pagina[for="1"]{
    background: #fff;
}
input[id="2"]:checked ~ .slide{
   animation: none;
   transform: translate3d(calc(-100% * 1),0,0);
}
input[id="2"]:checked ~ .pag .pagina[for="2"]{
   background: #fff;
}
input[id="3"]:checked ~ .slide{
   animation: none;
   transform: translate3d(calc(-100% * 2),0,0);
}
input[id="3"]:checked ~ .pag .pagina[for="3"]{
   background: #fff;
}
@keyframes autoplay{
   33%{
       transform: translate3d(calc(-100% * 0), 0, 0);
   }
   66%{
       transform: translate3d(calc(-100% * 1), 0, 0);
   }
   100%{
       transform: translate3d(calc(-100% * 2), 0, 0);
   }
}
 #bloque1{
     float: right;
     width: 450px;
     height: 530px;
     text-align: center;
     margin: auto;
     border:#0c0e7c 2px dotted;
     background-color: #FFD800;
     font-family: fuenteM;
 }
 #c1{
     background-color: rgb(13, 13, 112);
     color: rgb(13, 13, 112);
 }
 #c2{
     background-color: rgb(46, 95, 151);
     color: rgb(46, 95, 151);
 }
 .boton {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#fff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color: #24aaad;
    border-color:  #0c0e7c;
    border-width: 3px;
    border-style: solid;
    }
 #contenedor2{
     margin-top: 100px;
     margin-left: 400px;
      width: 1000px;
      height:150px;
 }
 #descripción{
     margin: auto;
     padding-top: 10px;
     
 }
 #contenedor3{
     margin-top: 100px;
     margin-left: 400px;
      width: 1000px;
      height:100px;
 }
 #métodos{
     width: 1000px;
 }
 #met1{
     width: 500px;
     height: 250px;
     float: left;
 }
 #met2{
     width: 500px;
     height: 250px;
     float: left;
 }
 #conten{
    margin-top: 100px;
    margin-left: 400px;
     width: 1000px;
     height:300px;
}

.conte1{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    border: solid black 1px;
    
}
.conte1 figure{
    position: relative;
    height: 200px;
    width: 150px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px
    rgba (0, 0, 0, 0.50);
    cursor: pointer;
    
}
.conte1 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    
}
.conte1 figure .descripcion{
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 170, 173, 0.5);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
    position: absolute;
}
.conte1 figure .descripcion h3{
    border: solid 3px white;
    padding: 10px;
}
.conte1 figure:hover> .descripcion{
    opacity: 1;
    visibility: visible;
}
.conte1 figure:hover >.descripcion h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.conte1 figure:hover> img {
    transform: scale(1.2);
}

.conte1 figure .descripcion h3{
    color: #fff;
    font-weight: 400;
    transition: all 500ms ease-out;
    margin-top: 30px;
    margin-bottom: 120px;

}
.descripcion a{
    display: block;
    width: 150px;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-top: 20px;
    border: 3px solid #fff;
    margin-left: 20px;
    height: 100px;
    margin: auto;
    font-size: 20%;

}

.conte2{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    float: left;
    border: solid black 1px;
    margin-top: -230px;
    position: relative;
    margin-left: 200px;

}
.conte2 figure{
    position: relative;
    height: 200px;
    width: 150px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px
    rgba (0, 0, 0, 0.50);
    cursor: pointer
}
.conte2 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.conte2 figure .descripcion{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 170, 173, 0.5);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}
.conte2 figure:hover> .descripcion{
    opacity: 1;
    visibility: visible;
}
.conte2 figure:hover >.descripcion h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.conte2 figure:hover> img {
    transform: scale(1.2);
}
.conte2 figure .descripcion h3{
    border: solid 3px white;
    padding: 10px;
}
.conte2 figure .descripcion h3{
    color: #fff;
    font-weight: 400;
    transition: all 500ms ease-out;
    margin-top: 30px;
    margin-bottom: 120px;

}
.conte3{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    float: left;
    border: solid black 1px;
    margin-top: -230px;
    position: relative;
    margin-left: 10px;
    

}
.conte3 figure{
    position: relative;
    height: 200px;
    width: 150px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px
    rgba (0, 0, 0, 0.50);
    cursor: pointer
}
.conte3 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.conte3 figure .descripcion{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 170, 173, 0.5);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}
.conte3 figure:hover> .descripcion{
    opacity: 1;
    visibility: visible;
}
.conte3 figure:hover >.descripcion h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.conte3 figure:hover> img {
    transform: scale(1.2);
}
.conte3 figure .descripcion h3{
    border: solid 3px white;
    padding: 10px;
}
.conte3 figure .descripcion h3{
    color: #fff;
    font-weight: 400;
    transition: all 500ms ease-out;
    margin-top: 30px;
    margin-bottom: 120px;

}



.conte4{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    float: left;
    border: solid black 1px;
    margin-top: -230px;
    position: relative;
    margin-left: 20px;

}
.conte4 figure{
    position: relative;
    height: 200px;
    width: 150px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px
    rgba (0, 0, 0, 0.50);
    cursor: pointer
}
.conte4 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.conte4 figure .descripcion{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 170, 173, 0.5);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}
.conte4 figure:hover> .descripcion{
    opacity: 1;
    visibility: visible;
}
.conte4 figure:hover >.descripcion h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.conte4 figure:hover> img {
    transform: scale(1.2);
}
.conte4 figure .descripcion h3{
    border: solid 3px white;
    padding: 10px;
}
.conte4 figure .descripcion h3{
    color: #fff;
    font-weight: 400;
    transition: all 500ms ease-out;
    margin-top: 30px;
    margin-bottom: 120px;

}

.conte5{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    float: left;
    border: solid black 1px;
    margin-top: -230px;
    position: relative;
    margin-left: 800px;

}
.conte5 figure{
    position: relative;
    height: 200px;
    width: 150px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px
    rgba (0, 0, 0, 0.50);
    cursor: pointer
}
.conte5 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.conte5 figure .descripcion{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 170, 173, 0.5);
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
}
.conte5 figure:hover> .descripcion{
    opacity: 1;
    visibility: visible;
}
.conte5 figure:hover >.descripcion h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.conte5 figure:hover> img {
    transform: scale(1.2);
}
.conte5 figure .descripcion h3{
    border: solid 3px white;
    padding: 10px;
}
.conte5 figure .descripcion h3{
    color: #fff;
    font-weight: 400;
    transition: all 500ms ease-out;
    margin-top: 30px;
    margin-bottom: 120px;

}
 #contenedor4{
     margin-top: 100px;
     margin-left: 400px;
      width: 1000px;
      height:50px;
 }
 .rd{
     margin: auto;
     text-align: center;
 }